<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BCM5906MEthernet</string>
	<key>CFBundleName</key>
	<string>NetLink BCM5906M Fast Ethernet Ethernet Driver</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.vmatyushin.driver.BCM5906MEthernet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>BCM5906M Ethernet Adapter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.vmatyushin.driver.BCM5906MEthernet</string>
			<key>IOClass</key>
			<string>com_vmatyushin_driver_BCM5906MEthernet</string>
			<key>IOPCIMatch</key>
			<string>0x171314e4</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.9</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.3</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.3</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.3</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
